@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.header {
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    padding-top: 80px;
}

.zipcode {
    display: block;
    width: 300px;
    margin: 20px auto;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
}

.button-container button {
    margin: 3px;
}