@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/linear-progress/mdc-linear-progress";
@import "../../libs/material-datepicker.css";

html, body {
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 10px;
}

section {
  margin: 10px 0 10px 0;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
}

.button-container {
  display: flex;
  width: 90%;
  margin: 10px auto;

  input {
    margin: 3px 20px 3px 3px;
  }

  button {
    margin: 3px;
  }
}

.info-container {
  width: 90%;
  margin: auto;

  p {
    text-align: left;
  }

  span {
    font-weight: bold;
  }
}